@import 'variables';

.label {
  color: $grey;
  text-transform: uppercase;
}

.form {
  background: $white;
  padding: 30px 15px;
  position: relative;
}

.input {
  font-size: 48px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid $grey;
  width: 50%;
  border-right: 0;
  padding: 10px 0;
}

.input:active, .input:focus {
  outline: 0;
}

.submit {
  font-weight: bold;
  color: $white;
  font-size: 24px;
  appearance: none;
  -webkit-appearance: none;
  background: $green;
  border: 0px;
  border-left: 0;
  width: 49%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 24px 0 25px;
  position: relative;
  bottom: 9px;
}

.hat {
  position: absolute;
  right: -100px;
  top: -130px;
  z-index: 10;
  transform: rotate(15deg) scale(.5);
}
