@import 'variables';

.header {
  font-weight: normal;
}

.container {
  margin: 0 auto;
  width: 1000px;
  background: $lightGrey;
}

.innerContainer {
  margin: 0 auto;
  width: 600px;
}

.panelContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
