@import 'variables';

.panel {
  width: 45%;
  margin: 20px 0;
}

.innerPanel {
  background: $white;
  text-align: center;
  padding: 15px;
}

.header {
  color: $darkGrey;
  text-transform: uppercase;
  font-weight: normal;
}

.value {
  font-size: 48px;
  margin: 20px;
  padding: 0;
  font-weight: normal;
}

.time {
  color: $grey;
}
